# Assignment - Pandas Data IO

Following files in `data` folder provide test 1 results of class 2.
* class2_test1_english.tsv
* class2_test1_math.tsv
* class2_test1_science.tsv

You can assume all text files contains same list of students sorted in ascending order.

## 1. 
Load and save these data into an Excel file `class2_test1.xlsx`.
* Save test 1 in sheet `test1`.
* Worksheet contains columns `name`, `english`, `math` and `science`.

In [13]:
import pandas as pd

df_e = pd.read_csv('data/class2_test1_english.tsv', sep='\t')
df_m = pd.read_csv('data/class2_test1_math.tsv', sep='\t')
df_s = pd.read_csv('data/class2_test1_science.tsv', sep='\t')

df = pd.DataFrame()
df['name'] = df_e['name']
df['english'] = df_e['mark']
df['math'] = df_m['mark']
df['science'] = df_s['mark']

df.to_excel('class2_test1.xlsx', sheet_name='test1', index=False)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     9 non-null      object
 1   english  9 non-null      int64
 2   math     9 non-null      int64
 3   science  9 non-null      int64
dtypes: int64(3), object(1)
memory usage: 416.0+ bytes

## 2. 
Find the average marks of each subject for test 1.

In [17]:
m = df.mean()
m

english    65.000000
math       66.666667
science    73.222222
dtype: float64

## 3. 

Find students who have all subjects above average mark.

In [19]:
f = (df['english'] > m['english']) & \
        (df['math'] > m['math']) & \
        (df['science'] > m['science'])

df[f]

     name  english  math  science
5  Feivel       81    92       95
8  Gerard       72    90       74